numpy
seaborn
matplotlib
pandas
seaborn
pillow
opencv-python
mediapipe
opencv-contrib-python
scikit-learn
scikit-image
scipy
tqdm
jsonschema
jupyter
notebook
ipywidgets
plotly
torch
huggingface_hub
torchvision